parameters:
  - name: environmentServiceNameAzureRM
    type: string
  - name: workingDirectory
    type: string
  - name: terraformEnv
    type: object

steps:
  - task: TerraformTaskV4@4
    displayName: 'Terraform Plan'
    inputs:
      provider: 'azurerm'
      command: 'plan'
      commandOptions: '-input=false -out tfplan.binary'
      environmentServiceNameAzureRM: ${{parameters.environmentServiceNameAzureRM}}
      workingDirectory: ${{ parameters.workingDirectory }}
    env:
      ${{ each env in parameters.terraformEnv }}:
        ${{ env.key }}: ${{ env.value }}